.star__imgContainer {
    background: #262E38;
    width: 48px;
    height: 48px;
    border-radius: 50px;
    margin-bottom: 32px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }

  .star__img {
    width: 20px;
    height: 20px;
  }

  .thanks__imgContainer {
    text-align: center;
    margin-bottom: 32px;
  }
  
  .thanks__img {
    max-width: 160px;
  }