
.yourResult__text {
    font-size: 0.9375rem;
    text-align: center;
    display: block;
    color: #FC7614;
    padding: 20px 0;
    background: #262E38;
    border-radius: 50px;
  }
  @media (max-width: 550px) {
    .yourResult__text {
      padding: 10px;
      max-width: 182px;
      margin: auto;
    }
  }
  
  .yourResult__container {
    margin-bottom: 40px;
  }